{
  extends: [
    "./node_modules/electrode-archetype-react-app/config/eslint/.eslintrc-base",
    "./node_modules/electrode-archetype-react-app/config/eslint/.eslintrc-node",
    "./node_modules/electrode-archetype-react-app/config/eslint/.eslintrc-react"
  ]
}
